header{
    display: flex;
    inline-size: 100%;
    justify-content:space-around;
    align-items: center;
}
.usuario{
    display: flex;
    align-items: center;
    gap: .5rem;
}


.usuario p{
    font-size: .8rem;
    color: var(--white) ;
    font-weight: 700;
}

